<%- include('partials/head') %>
  <title>Registro de Usuario</title>
  </head>

  <body style="background-image: url('https://www.patrimonios.co/images/contenido/Novedades/parqueadero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;">
    <div class="container text-center" style="width: 100%">
      <div class="row align-items-center">
        <div class="col-2"></div>
        <div class="col-8" style="
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding-top: 20vh;
          ">
          <div class="content-login px-10">
            <div class="border border-black boder-1 rounded p-5" style="background-color: rgba(255, 255, 255, 0.7);">
              <h1>PARK-UD</h1>
                <h4>Cambio de contraseña</h3>
                <h6>¿Es tu primera vez en la aplicación? Por favor, asegurate de brindar una contraseña segura para tu cuenta!</h6>
                <p>Tu contraseña debe tener una longitud de 5 a 8 caracteres y minimo una letra mayuscula y minuscula</p>
              <div>
                <form method="post" action="/pass" id="form">
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control border-black" id="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{5,8}$" 
                      placeholder="Contraseña" required />
                  </div>
                  <button type="submit" class="btn btn-dark">Ingresar</button>
                </form>
              </div>
            </div>

          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

    <script>

    </script>

  </body>
  </html>